<!DOCTYPE html>  
<html>
  {% load staticfiles %}  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">   
    <link rel="shortcut icon" href="{% static 'pics/logo.png' %}" />
    <link rel="Bookmark" href="{% static 'pics/logo.png' %}" />
    <title>resetresult</title>  
  </head>  
  <body>

      <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
    <!-- </form> -->

    <div class="container">
     send success!
     <div style="margin:auto">
        <a href="/labsmith"><input id="return-btn" class="btn btn-success" type="button" value="Return" ></a>
    </div>
      
      <style>
      li {list-style-type: none;}
      </style>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> 

 </body>  
</html> 


